@import '~bootstrap/scss/bootstrap';
$font-family: 'Open Sans', sans-serif;
$background-color: gainsboro;

html,
body {
  height: 100%;
  font-family: $font-family;
  background-color: $background-color;
}

//
// .center-div {
//   margin: 0 auto;
//   width: 100px;
// }

.title {
  font-size: 42px;
  color: black;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
}

//
// .flex-container {
//   display: flex;
// }
//
// .flex-column {
//   flex-direction: column;
// }
//
// .flex-center {
//   align-items: center;
//   justify-content: center;
// }
//
// .flex-wrap {
//   flex-wrap: wrap;
// }
//
// .gameboard-container {
//   height: 100%;
//   width: 100%;
// }
//
// .gameboard {
//   width: 618px;
//   display: grid;
// }
//

.gameboard-container {
  display: grid;
  grid-template-columns: repeat(3, 6fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, 100px);
  justify-items: center;
  justify-content: space-evenly;
}

.square {
  width: 100px;
  height: 100px;
  border: 3px solid mediumslateblue;
  font-size: 56px;
  text-align: center;
}

.square:hover {
  background: floralwhite;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  justify-content: center;
}

.reset {
  margin: 20px 100px 20px 55px;
  padding: 10px;
}

.buttonclass {
  justify-content: center;
  margin: 0 auto;
}
